{% extends 'base.html' %}
{% block content %}
    <h2>Expense</h2>
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in errors %}
                <ul>
                    <li>
                        {{ error }}
                    </li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post">{% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="control-group {{ field.html_name }} {% if field.errors %}has-error{% endif %}">
                <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>

                <div class="controls">
                    {{ field }}
                    {% if field.errors %}<p class="text-danger">{{ field.errors.as_text }}</p>{% endif %}
                </div>
            </div>
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>

{% endblock %}

