{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <nav>
                    <ul class="pager">
                        <li class="previous"><a href="?page={{ contacts.previous_page_number }}"><span
                                aria-hidden="true">&larr;</span> Older</a></li>
                    </ul>
                </nav>
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>
                <nav>
                    <ul class="pager">
                        <li class="next"><a href="?page={{ contacts.next_page_number }}">Newer <span
                                aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </th>
        </tr>
        <tr>
            <th>
                Description
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Amount
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for period in periods %}
            <tr>
                <td>
                    <a href="{% url 'update_period' period.id %}">{{ period.description }}</a>
                </td>
                <td>
                    {{ period.start_date }}
                </td>
                <td>
                    {{ period.end_date }}
                </td>
                <td>
                    {{ period.amount }}
                </td>
                <td>
                    <a class="btn btn-primary" href="{% url 'update_period' period.id %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'delete_period' period.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}