<nav id="my-menu">
    <ul>
        <li><a href="{% url 'home' %}">
            <i class="glyphicon glyphicon-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="{% url 'add_expense' %}">
            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> Add Expense</a></li>

        <li><a href="#"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> Period</a>
            <ul>
                <li><a href="{% url 'add_period' %}">
                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> Add Period</a></li>
                <li><a href="{% url 'period_list' %}">
                    <i class="glyphicon glyphicon-list" aria-hidden="true"></i> Period List</a></li>

            </ul>
        </li>
        <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i> Logout</a></li>
    </ul>
</nav>